{% extends 'EnsJobeetBundle::layout.html.twig' %}
 
{% form_theme edit_form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/job.css') }}" type="text/css" media="all" />
{% endblock %}
 
{% block content %}
    <div class="col-xs-12">
        <h1>Job edit</h1>
    </div>
    <form action="{{ path('ens_job_edit', { 'token': entity.token }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div id="job_form">
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.category) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.category) }}
                {{ form_widget(edit_form.category) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.type) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.type) }}
                {{ form_widget(edit_form.type) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.company) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.company) }}
                {{ form_widget(edit_form.company) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.file) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.file) }}
                {{ form_widget(edit_form.file) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.url) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.url) }}
                {{ form_widget(edit_form.url) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.position) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.position) }}
                {{ form_widget(edit_form.position) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.location) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.location) }}
                {{ form_widget(edit_form.location) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.description) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.description) }}
                {{ form_widget(edit_form.description) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.how_to_apply) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.how_to_apply) }}
                {{ form_widget(edit_form.how_to_apply) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.is_public) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.is_public) }}
                {{ form_widget(edit_form.is_public) }}
            </div>
            <br class="clean"><br/>
            <div class="col-xs-12 col-sm-3">
                {{ form_label(edit_form.email) }}
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ form_errors(edit_form.email) }}
                {{ form_widget(edit_form.email) }}
            </div>
            <br class="clean">
            <br/>
            <div class="col-xs-12">
                <input type="submit" value="Preview your job" />
            </div>

        </div>

    {{ form_end(edit_form) }}
{% endblock %}